@model Podcast

@{
    ViewData["Title"] = "About";
}

<h1 class="display-4">@Model.Name</h1>

<div class="pod-container">
    <div class="pod-content">

        <div class="row">

            @* pod art *@
            <div class="col">
                <div class="pod-art-container">
                    <div class="pod-art-content">
                        <img class="pod-art" src="https://spotlight.radiopublic.com/images/thumbnail?url=https%3A%2F%2Fwww.omnycontent.com%2Fd%2Fplaylist%2Faaea4e69-af51-495e-afc9-a9760146922b%2F44bbf446-4627-4f83-a7fd-ab070007db11%2F72b96aa8-88bd-480a-87af-ab070007db36%2Fimage.jpg%3Ft%3D1573864119%26size%3DLarge" height="325" />
                    </div>
                </div>
            </div>

            @* pod info: name, host name(s), network, genre, description *@
            <div class="col">
                <div class="pod-info-container">
                    <div class="pod-info">

                        @*<div>PODCAST NAME</div>*@
                        <div>Host(s): @Model.HostName</div>
                        <div>Network: @Model.Network</div>
                        <div>Genre: @Model.Genre.Name</div>
                        <div>Description: @Model.Description</div>

                        @* podcast action buttons *@
                        @* TODO: add tag helpers *@
                        <div class="pod-buttons">
                            <a class="pod-button btn btn-light">Add to My Queue</a>
                            <a class="pod-button btn btn-light" asp-action="Review" asp-route-podcastID="@Model.PodcastID">Add a Review</a>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

@* review section *@

<div class="reviews-list-container">
    <div class="reviews">

        @foreach (Review r in Model.Reviews)
        {
            @* individual review *@
            <div class="review-container">
                <div class="review-content">

                    <div>
                        @* loop through rating and display stars *@
                        @for (int i = 0; i < r.Rating; i++)
                        {
                            <span class="glyphicon glyphicon-star"></span>
                        }

                    </div>
                    <div class="font-italic">@r.ReviewText</div>
                    <div class="font-bold">- @r.Reviewer</div>

                </div>
            </div>
        }

    </div>
    </div>
