@model Podcast

@{
    ViewData["Title"] = "About";
}

<h1 class="display-4">About @Model.Name</h1>

<div class="pod-container">
    <div class="pod-content">

        <div class="row">

            @* pod art *@
            <div class="col">
                <div class="pod-art-container">
                    <div class="pod-art-content">
                        <img class="pod-art" src="@Model.ImageURL" height="325" />
                    </div>
                </div>
            </div>

            @* pod info: name, host name(s), network, genre, description *@
            <div class="col">
                <div class="pod-info-container">
                    <div class="pod-info">

                        <h4>@Model.Name</h4>
                        <h5 class="network">Network: @Model.Network</h5>

                        @if (Model.AvgRating > 0)
                        {
                            <div class="avg-rating">
                                PodSquad Rating: &nbsp;
                                @for (int i = 1; i <= Model.AvgRating; i++)
                                {
                                    <span class="glyphicon glyphicon-star"></span>
                                }
                            </div>
                        }

                        <div class="mt-4">@Model.Description</div>

                        @* podcast action buttons *@
                        <div class="pod-buttons">
                            <a class="pod-button btn btn-light" href="@Model.SpotifyURL" target="_blank">Open in Spotify</a>
                            <a class="pod-button btn btn-light" asp-action="Review" asp-route-podcastID="@Model.PodcastID">Add a Review</a>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

@* review section *@

<div class="reviews-list-container">
    <div class="reviews">

        @foreach (Review r in Model.Reviews)
        {
            @* individual review *@
            <div class="review-container">
                <div class="review-content">

                    <div>
                        @* loop through rating and display stars *@
                        @for (int i = 0; i < r.Rating; i++)
                        {
                            <span class="glyphicon glyphicon-star"></span>
                        }

                    </div>
                    <div class="font-italic">@r.ReviewText</div>
                    <div class="font-bold">- @r.Reviewer</div>

                </div>
            </div>
        }

    </div>
</div>
